<div class="row">
  <div id="log-in" class="small-12 large-centered columns ">
    <h3>Log In:</h3>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end %>

    <%= form_tag '/sessions' %>
    <%= label_tag :email %>
    <%= email_field_tag :email %><br>
    <%= label_tag :password %>
    <%= password_field_tag :password %><br>
    <%= submit_tag "Log In", :class => "button radius" %>
  </div>

</div>