<ol class="large-block-grid-3 results">
  <% @paginatable_array.each_with_index do |recipe| %>
  <li>
    <ul class="recipes">
      <li><%= image_tag recipe[1].img_url, :class => "foodpic"%></li>
      <h6><li><%= recipe[1].name %></li></h6>
      <progress max="100" value ="<%= recipe[0] %>"></progress>
      <li><%= recipe[0] %>% Nacho Problem</li>
      <%= link_to "See more", "#", {:class => "see_more"} %>
      <div class='toggle hidden'>
        <li class='ingredient-bold'>Recipe Needs:</li>
        <li><%= recipe[1].components.join(', ')%></li>
        <br/>
        <li class='ingredient-bold'>Missing Ingredients:</li>
        <li><%= @top_recipes["#{recipe[1].name}"].join(', ') %></li>
        <li class="text-center"><%= link_to "See Recipe", "#{recipe[1].recipe_url}" %></li>
        <%= form_for current_user, :url => favorite_recipe_users_path, :method => "post" do |f| %>
          <%= hidden_field_tag("recipe_id", recipe[1].id) %>
          <%= f.submit :value=> "Add to favorites", :class => "button expand tiny round"%>
        <% end %>
      <div>
    </ul>
  </li>
  <% end %>
</ol>
<%= paginate @paginatable_array %>