
<div id="results-container">
  <div class="row">
    <div>
      <ol class="large-block-grid-3 results">
      <% @recipe_objects.each_with_index do |recipe| %>
      <li>
        <ul id="recipes">
          <li><%= image_tag recipe[1].img_url %></li>
          <h6><li><%= recipe[1].name %></li></h6>
          <progress max="100" value ="<%= recipe[0] %>"></progress>
            <li><%= recipe[0] %>% Nacho Problem</li>
          <%= link_to "See more", "#", {:class => "see_more"} %>
          <div class='toggle hidden'>
            <li>Recipe Needs: <%= recipe[1].components%></li>
            <li>Missing Ingredients: <%= @top_recipes["#{recipe[1].name}"] %></li>
            <li><%= link_to "See Recipe", "#{recipe[1].recipe_url}" %></li>
            <%= link_to "Favorite", user_path(@user) %>
            <!--           <img src="../../../assets/images/heart.png"> -->
          <div>
        </ul>
      </li>
    <% end %>
      </ol>
    </div>
  </div>
</div>
</body>
