<% @recipe_objects.each do |recipe| %>
<div class="row">
  <div class="large-3 columns">
<ul class="small-block-grid-3">
  <li><%= image_tag recipe.img_url %></li>
  <li><%= recipe.name %></li>
  <li><%= recipe.components %></li>
  <li>Missing Ingredients: <%= @top_recipes["#{recipe.name}"] %></li>
  <li><%= link_to "See Recipe", "#{recipe.recipe_url}" %></li>
</ul>
</div>
</div>
<% end %>

