<%= @user.errors.full_messages.first if @user.errors.any? %>

<h3><%= current_user.username.titleize %>'s Favorite Recipes:</h3>
<hr>

<div class="favorites-page">
	<div class="row">
		<div class="small-12 large-6 large-centered columns clearfix">
			<%= link_to "Your Pantry", user_ingredients_path(current_user), :class => "button radius left" %>
			<%= link_to "All Recipes", user_nachoresult_path(current_user), :class => "button radius right" %>
		</div>
	</div>
	<div class="row">
		<div class="results" id="favorite_recipe_list">
	  	<%= render partial: 'favorite' %>		
		</div>
	</div>
	<%= paginate @user_favorites %>
</div>

