  <h3 class="user_pantry"><%= current_user.username.titleize %>'s' Pantry:</h3>

  <!-- Search bar -->
  <div class="user_pantry_div">
    <div class="row">
      <div class="small-6 large-centered columns ">
        <h3>Add items to your pantry:</h3>
        <%= render partial: 'ingredients/search' %>
        <%= render partial: 'ingredients/nacho' %>
      </div>
    </div>
  </div>


    <%= render partial: 'ingredients/notices' unless flash.nil? %>

    <div class="search-result-container">
    <div class="row">
      <div class="large-6 columns">
        <h3>Items in your pantry:</h3>
        <%= render partial: 'ingredients/user_pantry' %>
      </div>
      <div class="large-6 columns">
        <h3>Search results:</h3>
        <%= render partial: 'ingredients/search_results' %>
      </div>
    </div>


    </div> 


