<h3 class="user_pantry"><%= current_user.username.titleize %>'s Pantry:</h3>
<!-- Search bar and buttons -->
<div class="user_pantry_div">
  <div class="row small-6 large-centered columns">
    <h3 class="text-center pantry-title">Add items to your pantry:</h3>
      <div class="clearfix">
      <%= render partial: 'ingredients/search' %>
      <%= render partial: 'ingredients/nacho' %>
      <%= link_to "Your Favorites", favorite_recipe_users_path(current_user) ,:class => "button radius left"%>
    </div>
  </div>
</div>
<%= render partial: 'ingredients/notices' unless flash.nil? %>
<!-- User Pantry -->
<div class="row large-6 columns pantry-container">
  <%= render partial: 'user_pantry' %>
</div>
<div class="large-6 columns search-result-container">
</div>
