<div class="row">
  
<h3 class="user_pantry">Your Pantry:</h3>
<h3>Welcome <%= current_user.username %></h3>
<hr>

<!-- Search bar -->
<div class="row">
<div class="small-6 large-centered columns">
  <h3>Add items to your pantry:</h3>
  <%= render partial: 'ingredients/search' %>

  <h4>Search results:</h4>
  <%= render partial: 'ingredients/search_results' %>
</div>

<!-- List of ingredients in your pantry-->
<div class="user_pantry_div">
  <h3>Items in your pantry:</h3>
</div>

<%= form_for @user, :url => user_nachoresult_path(@user), :method => :get do |f|%>
  <%= f.submit 'Nacho Problem!'%>
<% end %>

</div>
</div>