
<div class="row">
<div class="small-6 large-centered columns">
<div class="search_results">

  <%= form_for :user_ingredient do |f| %>
    <% @ingredients_list.each do |item| %>
      <%= f.check_box("pantry_food") <%= item.id %> %><%= item.name %><br>
      <%= f.submit %>
    <% end %>
  <% end %>


    <form name="input" action="" method="post">
    <!-- refactor to a form_for -->
      <input type="checkbox" name="pantry_food" value="<%= item.id %>"><%= item.name %><br>
    <input type="submit">
    </form>
</div>

</div>
</div>
